html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: #F1F0E8;
    color: black;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

body {
    overflow-y: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    width: 500px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
}

.step {
    margin-bottom: 100px;
    height: 700px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

h1, h2 {
    font-weight: bold;
    text-align: right;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    
    /* To center the div */
    top: 50%;
    margin-top: -500px;

    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;

    /* background-color: white;
    border: solid black 1px; */
}

.tick line {
    stroke: 'red'
}

.gridlines line {
  stroke: #bbb;
}

.gridlines .domain {
  stroke: none;
}

#GermanEnergy {
    z-index: 5;
    top: 50%;
    position: fixed;
    opacity: 1;
}
#RussianEnergy {
    z-index: 5;
    top: 50%;
    position: fixed;
    opacity: 1;
}